body {
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
}

body {
  background-image: url("https://img.freepik.com/free-photo/4th-july-independence-day-background-with-american-flag-grunge-wood-texture_1048-10507.jpg?t=st=1733584073~exp=1733587673~hmac=e6ab40952c86382ad38510ccda645f7b7eb1fb96e1b692f43442697e940c20ee&w=740");
}

h1, h2 {
  padding-top: 90px;
  font-size: 40px;
}

#img-caption, #tribute-info, p {
  font-size: 26px;
  padding: 5px;
}

.image {
  max-width: 60%;
  padding: 30px;
}

p, ul {
  padding: 100px;
}


li {
  color: blue;
  font-weight: bold;
  padding-top: 20px;
  font-size: 26px;
}

.textbg {
  background-color: red;
}

a {
  background-color: red;
  font-size: 26px;
  color: white;
}